.header-alert-wrapper{
    width: 100%;
    min-height: 55px;
    height: auto;
    background-color: #2980F1;
    color: white;
}

.header-alert-wrapper-close{
    display: none;
}

.header-alert-content{
    width: 90%;
    max-width: 1440px;
    min-height: inherit;
    margin: 0 auto;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-alert-content p{
    padding: 10px 0;
}

.header-alert-content span{
    min-height: 30px;
    min-width: 30px;
    background-color: white;
    color: #2980F1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}