.header_contact_container{
    width: 100%;
    height: 55px;
    background-color: #2980F1;
    color: white;
}

.header_contact_content{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 19px;
    display: flex;
    align-items: center;
}