.account-nav-wrapper {
  width: 30%;
  background-color: #f9f9f9;
  border: 1px solid #cecece;
  border-radius: 5px;
  overflow: hidden;
  position: sticky;
  top: 15px;
}

.account-nav-wrapper ul {
  display: block;
}

.account-nav-link {
  display: block;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid #cecece;
  cursor: pointer;
}

.account-nav-link:last-child {
  border: none;
}

.account-nav-link:hover {
  background-color: #e6e6e6;
  border-left: 3px solid #2980f1;
  padding-left: calc(1rem - 3px);
}

.account-nav-link--active {
  border-left: 3px solid #2980f1;
  padding-left: calc(1rem - 3px);
  border-left: 3px solid #2980f1;
}

.account-nav-link--active:last-child {
    border-left: 3px solid #2980f1;
  }

.account-nav-wrapper{
    width: 30%;
    background-color: #F9F9F9;
    border: 1px solid #cecece;
    border-radius: 5px;
    overflow: hidden;
    position: sticky;
    top: 15px;
}

.account-nav-wrapper ul{
    display: block;
}

.account-nav-wrapper li{
    display: block;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #cecece;
    cursor: pointer;
}

.account-nav-wrapper li:last-child{
    border: none;
}
