<<<<<<< HEAD
.account-tile-wrapper {
  background-color: #e6e6e6;
  padding: 1rem;
}
=======
.account-tile-wrapper{
    background-color: #e6e6e6;
    padding: 1rem;
}
>>>>>>> 439edfc0b71c25e1759f89f2a5948fefbf42bf76
