*{
  transition: 350ms;
}

.welcome-container {
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
}

.welcome-container-left {
  width: 43%;
  padding-right: 7%;
}
/* Circle Design Styles */
.circle1 {
  width: 244px;
  height: 244px;
  background: #3eb9ff;
  opacity: 0.5;
  border-radius: 100%;
  position: absolute;
  margin-left: -58.5px;
  margin-top: -46px;
  z-index: 1;
}

.circle2 {
  width: 90px;
  height: 90px;
  background: #ffffff;
  border: 10px solid rgba(65, 142, 243, 0.4);
  border-radius: 100%;
  position: absolute;
  margin-left: 209px;
  margin-top: -46px;
  z-index: 1;
}

.circle3 {
  width: 212px;
  height: 212px;
  border-radius: 100%;
  background: #418ef3;
  border: 10px solid rgba(65, 142, 243, 0.4);
  position: absolute;
  margin-left: -70px;
  margin-top: 8%;
  top: 0;
  left: 0;
  z-index: 1;
}

.circle4 {
  width: 247px;
  height: 247px;
  border-radius: 100%;
  background: rgba(65, 142, 243, 0.4);
  border: 8px solid rgba(65, 142, 243, 0.46);
  position: absolute;
  margin-right: -55px;
  margin-bottom: -70px;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.welcome-container-left h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 500;
  z-index: 54;
  position: relative;
}

.welcome-container-left h3 {
  font-size: 18px;
  line-height: 27px;
}

.welcome-container-left button {
  width: auto;
  height: 50px;
  background-color: #418ef3;
  color: white;
  font-weight: normal;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 14px;
  margin-top: 4%;
  padding: 0 4%;
  z-index: 50;
    position: relative;
}

.welcome-container-left span {
  text-decoration: underline;
  color: #6c6c6c;
  font-size: 20px;
  line-height: 27px;
  margin-left: 4%;
}

.welcome-container-right {
  width: 57%;
  position: relative;
  z-index: 0;
}

.welcome-container-right-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../assets/pool.jpeg");
  border-radius: 35px;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.16));
  aspect-ratio: 16 / 9;
  z-index: 10;
  position: relative;
}


/* Media Queries Section */

@media (max-width: 1400px){
  .welcome-container-left h1 {
    font-size: 52px;
    line-height: 60px;
  }
  
  .welcome-container-left h3 {
    font-size: 14px;
    line-height: 20px;
  }
  
  .welcome-container-left button {
    font-size: 16px;
  }
  
  .welcome-container-left span {
    font-size: 16px;
  }
}

@media (max-width: 700px){
  .welcome-container {
    flex-direction: column;
  }
  .welcome-container-left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 2%;
  }
  .welcome-container-right {
    width: 100%;
  }
}